.User-space-layout{
    display: flex;
    flex-direction: row;
    justify-content: center;   
    background-color: #f5f5f5; 
    padding: 20px;
}
.User-space-layout .tabs{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.User-space-layout .TabParent{
    display: flex;
    flex-direction: column;
}
.TabParent .children{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}