.HomePage{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px  80px ;
}
.HomePage_CategoryLists{
    border-color: black;
}
.HomePage_ProductDisplay{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    justify-content: center;
}
