.QuantitySelector{
    font-size: 20px;
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px; 
    border-color: black;
    border-width:2px;
    border-style: solid;
}

.QuantitySelector .button{
    font-size: 40px;
    font-weight: bold;
    background-color: white;
    border: none;
    padding: 10px 15px;
}
.QuantitySelector .button:hover{
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}
.QuantitySelector .button:active{
    background-color: rgb(210, 210, 210);
}